<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <title>
   Telegram: Contact {{User}}
  </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="{{channel_name}}" property="og:title"/>
  <meta content="https://cdn5.telesco.pe/file/amZYnha7ZeW2HxZ8q6uQs0gFzAfZvj-o8SovzAhFr1pvcx5Vkj2Jos3wUBQnNYb-7-Jk7dAiHl3qkcRL3eUy5qKiaxLxdaj-SdMzJ3W15hPElk4VHEsjUWKiorhVUKBCKtUfhMz-0YjWOLUiCQ0Sde11REsxvSRsoXXGiqmbby_mSFkdBP_DaQqkerPfCsfDuwOhTjJb-wbo-yz1I6d_USyHlsEFcKUZQJgnMx108OXacsgWU-tdXdzoSXCm6f5_HubcPPqZPFlMwcKEwuoLPfwdUlEZD7aDDX-vw_Kz9S36TKxzxck7jd8sok1HGF0_jfepYmx7KKDY-0Jv5VPFtA.jpg" property="og:image"/>
  <meta content="Telegram" property="og:site_name"/>
 
  <meta content="{{channel_name}}" property="twitter:title"/>
  <meta content="https://cdn5.telesco.pe/file/amZYnha7ZeW2HxZ8q6uQs0gFzAfZvj-o8SovzAhFr1pvcx5Vkj2Jos3wUBQnNYb-7-Jk7dAiHl3qkcRL3eUy5qKiaxLxdaj-SdMzJ3W15hPElk4VHEsjUWKiorhVUKBCKtUfhMz-0YjWOLUiCQ0Sde11REsxvSRsoXXGiqmbby_mSFkdBP_DaQqkerPfCsfDuwOhTjJb-wbo-yz1I6d_USyHlsEFcKUZQJgnMx108OXacsgWU-tdXdzoSXCm6f5_HubcPPqZPFlMwcKEwuoLPfwdUlEZD7aDDX-vw_Kz9S36TKxzxck7jd8sok1HGF0_jfepYmx7KKDY-0Jv5VPFtA.jpg" property="twitter:image"/>
  <meta content="@Telegram" property="twitter:site"/>
  <meta content="686449807" property="al:ios:app_store_id"/>
  <meta content="Telegram Messenger" property="al:ios:app_name"/>
  <meta content="tg://resolve?domain={{User}}" property="al:ios:url"/>
  <meta content="tg://resolve?domain={{User}}" property="al:android:url"/>
  <meta content="Telegram" property="al:android:app_name"/>
  <meta content="org.telegram.messenger" property="al:android:package"/>
  <meta content="summary" name="twitter:card"/>
  <meta content="@Telegram" name="twitter:site"/>
  

  <meta content="Telegram Messenger" name="twitter:app:name:iphone"/>
  <meta content="686449807" name="twitter:app:id:iphone"/>
  <meta content="tg://resolve?domain={{User}}" name="twitter:app:url:iphone"/>
  <meta content="Telegram Messenger" name="twitter:app:name:ipad"/>
  <meta content="686449807" name="twitter:app:id:ipad"/>
  <meta content="tg://resolve?domain={{User}}" name="twitter:app:url:ipad"/>
  <meta content="Telegram" name="twitter:app:name:googleplay"/>
  <meta content="org.telegram.messenger" name="twitter:app:id:googleplay"/>
  <meta content="https://t.me/{{User}}" name="twitter:app:url:googleplay"/>
  <meta content="app-id=686449807, app-argument: tg://resolve?domain={{User}}" name="apple-itunes-app"/>
  <link rel="icon" href="https://res.cloudinary.com/dknyjesy8/image/upload/v1609780771/favicon_ax3akb.ico" type="image/gif" sizes="16x16">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css"/>
  <!--link href="/css/myriad.css" rel="stylesheet"-->
  <link href="https://telegram.dog//css/bootstrap.min.css?3" rel="stylesheet"/>
  <link href="https://telegram.dog//css/telegram.css?205" media="screen" rel="stylesheet"/>
 </head>
 <body>
  <div class="tgme_page_wrap">
   <div class="tgme_head_wrap">
    <div class="tgme_head">
     <a class="tgme_head_brand" href="/">
      <i class="tgme_logo">
      </i>
     </a>
    </div>
   </div>
   <a class="tgme_head_dl_button" href="https://telegram.dog//dl?tme=a72c75884f0cd9c65b_5352704197991696788">
    Don't have
    <strong>
     Telegram
    </strong>
    yet? Try it now!
    <i class="tgme_icon_arrow">
    </i>
   </a>
   <div class="tgme_page">
    <div class="tgme_page_photo">
     <a href="tg://resolve?domain={{User}}">
      <img class="tgme_page_photo_image" src="{{dp}}"/>
     </a>
    </div>
    <div class="tgme_page_title">
     <span dir="auto">
      {{channel_name}}
     </span>
    </div>
    <div class="tgme_page_extra">
     {{User}}
    </div>
    <div class="tgme_page_description">
     {{description}}
    </div>
    <div class="tgme_page_action">
     <a class="tgme_action_button_new" href="tg://resolve?domain={{User}}">
      Send Message
     </a>
    </div>
    <!-- WEBOGRAM_BTN -->
    <!-- PRIVACY_BTN -->
    <div class="tgme_page_additional">
     If you have
     <strong>
      Telegram
     </strong>
     , you can contact
     <br/>
     <strong>
      ★Seͥshͣuͫ★
     </strong>
     right away.
    </div>
   </div>
  </div>
  <div id="tgme_frame_cont">
  </div>
  <script type="text/javascript">
   var protoUrl = "tg:\/\/resolve?domain={{User}}";
if (false) {
  var iframeContEl = document.getElementById('tgme_frame_cont') || document.body;
  var iframeEl = document.createElement('iframe');
  iframeContEl.appendChild(iframeEl);
  var pageHidden = false;
  window.addEventListener('pagehide', function () {
    pageHidden = true;
  }, false);
  window.addEventListener('blur', function () {
    pageHidden = true;
  }, false);
  if (iframeEl !== null) {
    iframeEl.src = protoUrl;
  }
  !false && setTimeout(function() {
    if (!pageHidden) {
      window.location = protoUrl;
    }
  }, 2000);
}
else if (protoUrl) {
  setTimeout(function() {
    window.location = protoUrl;
  }, 100);
}
  </script>
  <script>
  </script>
 </body>
</html>
